$def with(result)
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <style type="text/css">
      body{
      padding: 0;
      margin: 0;
      }
      .hero{
      height: 100vh;
      position: relative;
      }
      .notification{
      padding-top: 20px;
      padding-bottom: 30px;
      }
      .button{
      margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="hero is-primary">
      <div class="hero-body">
        <h1 class="title has-text-centered is-size-2">Agenda</h1>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification is-light">
              <figure class="image container is-64x64">
                <img src="https://static.vecteezy.com/system/resources/previews/001/200/132/original/books-png.png">
              </figure>
              <form method="POST">
                <div class="field">
                  <label class="label" id="mensaje" name="mensaje" style="color: crimson;">$result</label>
                    <label class="label" id="mensaje" name="mensaje">EMAIL</label>
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="email" placeholder="Email" id="mail" name="mail">
                      <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <label class="label">Password:</label>
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" id="passw" name="passw">
                      <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <button class="button is-link" >Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>